
.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.nav-logo {
  width: 60px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: grey;
  color: white;
  text-align: left;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  margin: 50px;
}